{% extends "base_agorado.html" %}{# not myself but a site-level one (TEMPLATE_DIRS setting) #}
{% load i18n static %}{% load postman_tags %}
<!--{% block title %}{% trans "Messaging" %}{% endblock %}-->
{% block extrahead %}{{ block.super }}
<link type="text/css" media="all" rel="stylesheet" href="{% static 'postman/css/postman.css' %}" />
{% endblock %}
{% block postman_menu %}
<div class="card">
	<div class="card-content">
		<form style="padding:10px">
		<div class="btn-group" id="postman_menu">{% postman_unread as unread_count %}
		<button type="submit" class="btn btn-default" onclick="this.form.action='{% url 'postman:inbox' %}'">{% trans "Inbox" %}{% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}</button>
		<button type="submit" class="btn btn-default" onclick="this.form.action='{% url 'postman:sent' %}'">{% trans "Sent Messages" %}</button>
		<button type="submit" class="btn btn-default" onclick="this.form.action='{% url 'postman:write' %}'">{% trans "Write" %}</button>
		<button type="submit" class="btn btn-default" onclick="this.form.action='{% url 'postman:archives' %}'">{% trans "Archives" %}</button>
		<button type="submit" class="btn btn-default" onclick="this.form.action='{% url 'postman:trash' %}'">{% trans "Trash" %}</button>
		</div>
	</form>
	</div>
</div>
{% endblock %}


