{% extends "notifications/base_agorado.html" %}
{% load i18n %}
{% load notification_tags %}
{% block title %}{% trans "Notifications" %}{% endblock %}
{% block content %}
    <div class="content">
      
      <div class="btn-group">
				     <button data-id="{{ notification.id }}" class="mark-all-notifications btn-s btn btn-primary btn-fill btn-wd" data-mark-action="read" data-toggle-text="Marquer tous comme lus">
				       Marquer tous comme lus
				    </button>

				    <button data-id="{{ notification.id }}" class="mark-all-notifications btn-s btn btn-primary btn-fill btn-wd" data-mark-action="unread" data-toggle-text="Marquer tous comme non lus">
				       Marquer tous comme non lus
				    </button>
				 </div>
										
    <div class="container-fluid">
      <ul class="notifications list-grouprow">
        <div class="row">
          {% if notifications %}
          <div class="col-md-8 col-md-offset-2">
          {% render_notifications using notifications %}
          </div>
          {% endif %}
        </div>
      </ul>
    </div>
{% endblock %}
