

<div class="col-md-11  col-xs-11 pull-right">
	<div class="card">


		<div class="content">

			<p>

			{{c.0.contenu}}

			</p>

			


			<div class="footer">
			<hr />
				<div class="stats">
						<i class="ti-calendar"></i> Commenté le {{c.0.date}} par {{c.0.auteur.user.username}}
					<p class="developper"><a href="#5" id="c_{{c.0.id}}"><i class="ti-angle-down"></i>Développer les réponses</a></p>
					<p class="masquer" hidden><a href="#5" id="c_{{c.0.id}}"><i class="ti-angle-up"></i>Masquer les réponses</a></p>
				</div>

			</div>

		</div>
	</div>

		{% for r in c.1 %}

			{% include "app/reponse.html" with r=r %}

		{% endfor %}



</div>