{% extends 'app/base.html' %} {% load static%} {% block content %}


 <div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            
		    <div class="card">
				<div class="header">
				<h4>Post versionné</h4>
				</div>



				<div class="content">

					<p>

					Contenu

					</p>

					


					<div class="footer">
					<hr />
						<div class="stats">
							<i class="ti-calendar"></i> Dernière modification le {date} par {auteur}
						</div>

					</div>
				</div>

			</div>
			       	

            
		</div>

		







		<div class="col-md-6 col-sm-12 pull-right">


			{% for p in posts %}

				{% include "app/post.html" with p=p %}

			{% endfor %}

		</div>





</div>





{% endblock %}
