

<div class="col-md-11 pull-right commentaire">
	<div class="card">


		<div class="content">

			<p>

			{{c.0.contenu}}

			</p>



			


			<div class="footer">
			<hr />
				<div class="stats">
					<i class="ti-calendar"></i> Posté le {{c.0.date}} par {{c.0.auteur.user.username}}
				</div>
				</p>
				<div class="row" style="width:100%">
					{% if c.1 %}
					<div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
						
						
						<p id="s_{{c.0.id}}"><a href="javascript:show_posts('{{c.0.id}}')"><i class="ti-angle-down"></i> Développer les réponses</a></p>
						<p id="h_{{c.0.id}}" hidden><a href="javascript:show_posts('{{c.0.id}}')"><i class="ti-angle-up"></i> Masquer les réponses</a></p>

						
					</div>
					{% endif %}
					<div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
						<p id="r_{{c.0.id}}"><a href="javascript:repondre('{{c.0.id}}',1)"><i class="ti-comment"></i> Commenter</a></p>
					</div>
				</div>

			</div>

		</div>
	</div>

	<div id="c_{{c.0.id}}" hidden>
		<div class="row">

			{% for r in c.1 %}

				{% include "reponse.html" with r=r %}

			{% endfor %}
		</div>

	</div>

</div>