{% extends 'base.html' %} {% load static%} {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h2> F.A.Q.</h2>
                        
                    </div>
                    <div class="content">
                        <h3>Comment sauvegarder une citation ?</h3>

                        <p>Pour cela, il suffit de sélectionner le texte d'un post que l'on veut enregistrer dans son recueil de citation, puis de cliquer sur l'icône en haut à droite, et le tour est joué !</p>

                        <h3>Comment ajouté une citation dans une zone de texte ?</h3>

                        <p>Il faut d'abord cliquer sur la zone de texte dans laquelle intégrer la citation enregistrée au préalable, puis cliquer sur le bouton <i class="ti-plus"></i> juste en dessous, et enfin cliquer dans le panneau de citation sur la citation que l'on veut ajouter</p>
                    </div>
                        <h3 class='content'> Comment ajouter des choses dans les champs ?</h3>
                    <div class="content table-responsive table-full-width">
                        <table class="table">
                            <thead class="text-danger">
                                <th>Texte à écrire</th>
                                <th>texte résultat</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>*texte*</td>
                                    <td><i>texte</i></td>
                                </tr>
                                <tr>
                                    <td>**texte**</td>
                                    <td><strong>texte</strong></td>
                                </tr>
                                <tr>
                                    <td>***texte***</td>
                                    <td><strong><i>texte</i></strong></td>
                                </tr>
                                <tr>
                                    <td>{ %c% alert('frf') %c% }</td>
                                    <td><pre class="prettyprint">alert('frf')</pre></td>
                                </tr>
                                <tr>
                                    <td>{ { id_citation } }</td>
                                    <td><blockquote>
                                        <p>Lorem Ipsum</p><small>Quelqu'un</small>
                                    </blockquote></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>                  
            </div>
        </div>
    </div>
</div>

{% endblock %}