{% extends 'base.html' %} {% load static%} {% load app_filter %} {% block content %}



 <div class="container-fluid">

    <div class="row">
	<!-- ce commentaire est le reste du fichier "whatsup.html" dont je me suis inspirée de manière bourrine -->
		
		<div class="col-md-6 col-sm-6 pull-left">
			<div class="card">
					<div class="header">
					<h3>Nouveautés</h3>
					</div>

					<div class="content">
						{% for p in posts %}

							{% include "post-seul.html" with c=p %}

						{% endfor %}
					</div>
				</div>
			
		</div>

	</div>


		






</div>



{% endblock %}
