{% extends 'base.html' %} {% load static%} {% load app_filter %} {% block content %}



 <div class="container-fluid">

    {% comment %}<div class="row">
	<!-- ce commentaire est le reste du fichier "whatsup.html" dont je me suis inspirée de manière bourrine -->
		
		<div class="col-md-12 col-sm-12 pull-left">
			
			<div class="card">

					<div class="content"> {% endcomment %}
						<div class="row">
						{% for p in posts %}
							<div class="col-md-4 col-sm-6">
							{% include "post-seul.html" with p=p %}
							</div>
						{% endfor %}
						</div>
					{% comment %}</div>
				</div>
			
		</div>

	</div>{% endcomment %}


		






</div>



{% endblock %}
