{% extends 'base.html' %} {% load static%} {% block content %}
   

				<div class="row">
                    <div class="col-lg-12">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">Site en construction</h5>
                                <h4 class="card-title">Merci de revenir plus tard</h4>
                                
                            </div>
                            <div class="card-body text-center">
                                Site en construction
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="now-ui-icons arrows-1_refresh-69"></i> Ouverture du site le 1er avril 2018
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                



{% endblock %}

