{% extends 'base_agorado.html' %} {% load static%} {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'noeud' 1 %}">
                    <div class="card">
                        <div class="content">
                          
                            <h2>Voir un exemple de page de noeud</h2>

                        </div> 
                    </div>
                </a>                           
            </div>
            <div class="col-md-12">
               
                <div class="card">
                    <div class="content">
                      
                        {% include "graphe.html" %}

                    </div> 
                </div>
                         
            </div>
        </div>
    </div>




</div>

{% endblock %}
