{% extends 'base.html' %} {% load static%} {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'noeud' 1 %}">
                    <div class="card">
                        <div class="content">
                          
                            <h2>Voir un exemple de page de noeud</h2>

                        </div> 
                    </div>
                </a>                           
            </div>
        </div>
    </div>
</div>

{% endblock %}