{% extends "side-menu.html" %}

{% block nav %}

<ul class="nav">
<li>
	<a data-toggle="collapse" href="#arborescence">
		<i class="ti-menu"></i>
		<p>Arborescence
			<b class="caret"></b>
		</p>
	</a>
	
	<div class="collapse" id="arborescence">
		<ul class="nav">

		{% for pere, enfants in noeudsFamille %}
			<li class="list-unstyled">
			<a href="{% url 'noeud' pere.id %}">
				<span class="sidebar-mini"><span class="ti-arrow-circle-up"></span> </span>
				<span class="sidebar-normal">{{ pere.label }}</span>
			</a>
			<ul>
				<li class="active list-unstyled">
				<a href="{% url 'noeud' noeud.id %}">
					<span class="sidebar-mini"><span class="ti-arrow-circle-right"></span> </span>
					<span class="sidebar-normal">{{ noeud.label }}</span>
				</a>
				{% for fils in noeudsFils %}
				<ul >
					<li class="list-unstyled">
					<a href="{% url 'noeud' fils.id %}">
						<span class="sidebar-mini"><span class="ti-arrow-circle-down"></span> </span>
						<span class="sidebar-normal">{{ fils.label }}</span>
					</a>
					</li>
				</ul>
				
				{% endfor %}
				</li>

				{% for frere in enfants %}
				{% if frere != noeud %}
				<li class="list-unstyled">
				<a href="{% url 'noeud' frere.id %}">
					<span class="sidebar-mini"><span class="ti-arrow-circle-right"></span> </span>
					<span class="sidebar-normal">{{ frere.label }}</span>
				</a>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
			</li>
		{% endfor %}

		{% if not noeudsFamille %}
			<li>
			<ul>
				<li class="active list-unstyled">
				<a href="{% url 'noeud' noeud.id %}">
					<span class="sidebar-mini"><span class="ti-arrow-circle-right"></span> </span>
					<span class="sidebar-normal">{{ noeud.label }}</span>
				</a>
				{% for fils in noeudsFils %}
				<ul >
					<li class="list-unstyled">
					<a href="{% url 'noeud' fils.id %}">
						<span class="sidebar-mini"><span class="ti-arrow-circle-down"></span> </span>
						<span class="sidebar-normal">{{ fils.label }}</span>
					</a>
					</li>
				</ul>
				
				{% endfor %}
				</li>

				{% for frere in enfants %}
				{% if frere != noeud %}
				<li class="list-unstyled">
				<a href="{% url 'noeud' frere.id %}">
					<span class="sidebar-mini"><span class="ti-arrow-circle-right"></span> </span>
					<span class="sidebar-normal">{{ frere.label }}</span>
				</a>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
			</li>
		{% endif %}
		</ul>
	</div>
</li>
</ul>

{% endblock %}
