{% load static %}
{% load notification_tags %}

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
  <i class="ti-bell"></i>
        <p class="notification">5</p>
                  <p>Notifications</p>
                  <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                {% user_notifications for box %}
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#"><img src = "{% static 'img/new_logo.png' %}"/><h6>Notification 4</h6>Contenu de la notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
