{% load app_filter %}


	<div class="card card-post">

		<div class="header">
		<h6><a href={% url 'noeud' c.noeud.id %}> {{c.noeud.label}} </a></h6>
		</div>

		<div class="content">

			<div class="contenu" name="{{c.0.id}}">
				
					<div class="row">
						<div class="col-xs-12">
							<p>

								{{c.contenu|rendusafe|safe}}

							</p>
						</div>
					</div>
					
					<div class="row">
						<div class="col-xs-12 pull-right">
							<div class="pull-right">
								<button type="button" class="btn btn-success btn-sm"><span class="ti-thumb-up"></span></button>
								<button type="button" class="btn btn-danger btn-sm"><span class="ti-flag-alt"></span></button>
							</div>
						</div>
					</div>
					
				
			</div>


			<div class="footer">
			<hr />
				<div class="stats">
							<i class="ti-calendar"></i> Posté le {{c.date}} par {{c.auteur.user.username}}
				</div>
				</p>
			</div>

		</div>
	</div>

