{% load app_filter %}


	<div class="card card-post">

		<div class="header">
		<h6><a href={% url 'noeud' c.noeud.id %}> {{c.noeud.label}} </a></h6>
		</div>

		<div class="content">

			<div class="contenu" name="{{c.0.id}}">
				<p>

				{{c.contenu|rendusafe|safe}}

				</p>
			</div>



			


			<div class="footer">
			<hr />
				<div class="stats">
					<i class="ti-calendar"></i> Posté le {{c.date}} par {{c.auteur.user.username}}
				</div>
				</p>
				

			</div>

		</div>
	</div>

	


