{% extends 'base_agorado.html' %} {% load static%} {% load app_filter %} {% block content %}



 <div class="container-fluid">

    <div class="row">        

		<div class="col-md-4 col-sm-12 col-xs-12">
			
			<div class="col-md-12 post"> 

				<div class="card">
					<div class="header">
					<h3>Nouveautés</h3>
					</div>

					<div class="content">
						{% for p in posts %}

							{% include "post-seul.html" with c=p %}

						{% endfor %}
					</div>
				</div>
			</div>


		</div> 
		
		<div class="col-md-4 col-sm-12 pull-left">
			
			<div class="card">
				<div class="header">
				<h3>Recap</h3>
				</div>
				<div class="content">


					<!-- contenu de la récap -->
				{% for noeud, nbPosts, nbNewPosts, fils in printRecap %}
					{% include "noeud-seul.html" with n=noeud nbPosts=nbPosts nbNewPosts=nbNewPosts noeudsFils=fils %}
				{% endfor %}


				</div>

			
			</div>


		</div>

		<div class="col-md-4 col-sm-12 pull-right" id="filDeSugg">
		
			<div class="card">

				<div class="header">
				<h3>Suggestions</h3>
				</div>

			<div class="content">

				{% for noeud, nbPosts, nbNewPosts, fils in printSugg %}
					{% include "noeud-seul.html" with n=noeud nbPosts=nbPosts nbNewPosts=nbNewPosts noeudsFils=fils %}
				{% endfor %}
				
			</div>
		</div>

	</div>


		






</div>



{% endblock %}

