{% extends 'base.html' %} {% load static%} {% load app_filter %} {% block content %}



 <div class="container-fluid">

    <div class="row">
	<!-- ce commentaire est le reste du fichier "noeud.html" dont je me suis inspirée de manière bourrine -->
            

		    	

		
		<div class="col-md-4 col-sm-12 pull-left">

			<div class="card card-post">
				<div class="header">
				<h3>Recap</h3>
				</div>
				<div class="content">


					<!-- contenu de la récap -->



				</div>

			
			</div>


		</div>






		<div class="col-md-4 col-sm-12 col-xs-12">
			<div class="card card-post">
				<div class="header">
				<h3>Nouveautés</h3>
				</div>

				<div class="content">
					{% for p in posts %}

						{% include "post.html" with p=p %}

					{% endfor %}
				</div>

			</div>


		</div> 

		<div class="col-md-4 col-sm-12 pull-right" id="filDeSugg">
			<div class="card card-post">

				<div class="header">
				<h3>Suggestions</h3>
				</div>

			<div class="content">
				
			{% for (n, nbPosts, nbNewPosts) in printList %}

				<!--{% include "suggestions.html" with s=s %}-->
				{% include "noeud-seul.html" with n=n nbPosts=nbPosts nbNewPosts=nbNewPosts %}

			{% endfor %}

			</div>
		</div>

	</div>


		






</div>



{% endblock %}
